$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ff7c21;
$mauve: #8839ef;
$red: #f94258;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #ffc703;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #ff3c81;
$lavender: #7287fd;
$text: #efe7d3;
$accent: #ffc703;
$subtext1: #8f45fd;
$subtext0: #60489b;
$overlay2: #7c7f93;
$overlay1: #7b44d8;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #7b44d8;
$base: #291a39;
$mantle: #11091d;
$crust: #5a3f98;