<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%- if section -%}
        {%- if section.title == "Home" -%}
            {%- set title = config.title -%}
            {%- set desc = config.description -%}
        {%- else -%}
            {%- set title = config.title ~ " | " ~ section.title -%}
            {%- set desc = section.description -%}
        {%- endif -%}
        {%- set url = section.permalink -%}
    {%- elif page -%}
        {%- set title = config.title ~ " | " ~ page.title -%}
        {%- set desc = page.description -%}
        {%- set url = page.permalink -%}
    {%- else -%}
        {%- set title = config.title -%}
        {%- set desc = config.description -%}
        {%- set url = config.base_url -%}
    {%- endif -%}

    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:url" content="{{ url | safe }}">
    <meta property="og:image" content="{{ config.base_url | safe }}/img/og_preview.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@greg-wishes" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ desc }}" />
    <meta name="twitter:image:src" content="{{ config.base_url | safe }}/img/og_preview.png" />

    <meta name="keywords" content="Game Development, Video Games, Beastieball, Chicory, Wandersong">
    <meta name="author" content="Greg Lobanov">
    <meta name="viewport" content="width=device-width" >
    
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff"> 

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Wishes Ultd." />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Underdog&display=swap" rel="stylesheet">

    <!-- stylesheets -->
    {% set hash = get_hash(path="public/latte.css", sha_type=256, base64=true) %}
    <link rel="stylesheet" href="/latte.css?{{ hash }}" id="sheet-link">
</head>
<body>
    <div class="header">
        <div class="column">
            <div class="title">
                <div class="main">
                    <a href="/"><img src="/img/logo.png" alt="Wishes Unlimited logo"></a>
                </div>
                <div class="sub">
                    ★Indie games by Greg Lobanov &amp; friends★
                </div>
            </div>
            <div class="menu">
                <div class="links">
                    <a href="/blog" class="link">
                        <i class="ri-edit-2-line"></i>
                        <div class="text">Blog</div>
                    </a>
                     <a href="/games" class="link">
                        <i class="ri-gamepad-line"></i>
                        <div class="text">Games</div>
                    </a>
                    <a href="/resources" class="link">
                        <i class="ri-book-shelf-line"></i>
                        <div class="text">Dev</div>
                    </a>
                </div>
            <div class="socials">
                <a href="https://discord.com/invite/mSuPHrVh6A" target="_blank"><i class="ri-discord-fill"></i></a>
                <a href="https://bsky.app/profile/greg.style" target="_blank"><i class="ri-bluesky-fill"></i></a>
                <a href="https://www.instagram.com/beastieball/" target="_blank"><i class="ri-instagram-fill"></i></a>
                <a href="mailto:banovg@gmail.com" target="_blank"><i class="ri-mail-fill"></i></a>
            </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="column content">
            {%- block content -%}
            {%- endblock content -%}
        </div>
    </div>
    <div class="footer">
        <div class="column">
            <p>Copyright 2026 &copy; Wishes Games ULC</p>
            <p>★ <a href="https://impress.games/press-kit/wishes">Presskit</a> ★</p>
            <br>
            <p>Site shamelessly stolen from my buddy <a href="https://github.com/ChevyRay/chevyray.dev">Chevy Ray</a>; powered by <a href="https://www.getzola.org/" target="_blank">Zola</a></p>
            <p>
                Icons by <a href="https://remixicon.com/" target="_blank"><i class="ri-remixicon-fill"></i> Remix Icon</a>
            </p>
            <br>
            <!--p class="theme">
                <i style="opacity:75%;" class="ri-sun-fill"></i>
                <a href="#"><i class="ri-moon-fill"></i></a>
                <a href="#"><i class="ri-contrast-2-fill"></i></a>
            </p-->
        </div>
    </div>
</body>
{% set hash = get_hash(path="static/js/date-formatter.js", sha_type=256, base64=true) %}
<script src="/js/date-formatter.js?{{ hash }}"></script>
</html>