{%- extends "base.html" -%}
{%- import "macros.html" as macros -%}

{%- block content -%}

<div class="projects">
    {%- set section = get_section(path="games/_index.md") -%}
    {%- for page in section.pages -%}
        {%- if loop.index > 3 -%}
            {%- break -%}
        {%- endif -%}
        <div class="project">
            <a href="{{ page.extra.url | safe }}" title={{ page.title }} target="_blank">
                {% set img_url = "/games/"~page.slug ~ "/preview.png" -%}
                {% set img_resized = resize_image(path= img_url , width=260, height=350, op="fill") %}
                <img src={{ img_resized.url }} alt={{ page.title }}>
                <h2>{{ page.title }}</h2>
            </a>
        </div>
    {%- endfor -%}
</div>
    <div class="more-posts">
        <a class="next" href="/games">More Games <i class="ri-arrow-right-circle-fill"></i></a> 
    </div>


{{ section.content | safe }}

<h1 class="latest">Latest Posts</h1>

{%- set section = get_section(path="blog/_index.md") -%}
{%- for page in section.pages -%}
    {%- if loop.index > 5 -%}
        {%- break -%}
    {%- endif -%}
    {{ macros::post_preview(page = page) }}
{%- endfor -%}

<div class="more-posts">
    <a class="next" href="/blog">More Posts <i class="ri-archive-stack-line"></i></a> 
</div>

{%- endblock content -%}