{%- extends "base.html" -%}
{%- import "macros.html" as macros -%}

{%- block content -%}

<div class="projects">
    {%- set section = get_section(path="games/_index.md") -%}
    {%- for page in section.pages | reverse -%}
        {%- if loop.index > 3 -%}
            {%- break -%}
        {%- endif -%}
        <a href="{{ page.extra.url | safe }}" title={{ page.title }} target="_blank">
            <img src={{ "/games/"~page.slug ~ "/preview.png" }} alt={{ page.title }}>
        </a>
    {%- endfor -%}
    <div class="more-posts">
    <a class="next" href="/games">More Games <i class="ri-arrow-right-line"></i></a> 
</div>
</div>


{{ section.content | safe }}

<h1 class="latest">Latest Posts</h1>

{%- set section = get_section(path="blog/_index.md") -%}
{%- for page in section.pages -%}
    {%- if loop.index > 5 -%}
        {%- break -%}
    {%- endif -%}
    {{ macros::post_preview(page = page) }}
{%- endfor -%}

<div class="more-posts">
    <a class="next" href="/blog">More Posts <i class="ri-arrow-right-line"></i></a> 
</div>

{%- endblock content -%}