{%- extends "base.html" -%}
{%- import "macros.html" as macros -%}

{%- block content -%}

<div class="projects">
    <a href="https://www.humblegames.com/games/ikenfell/" target="_blank" title="Ikenfell">
        <img src="/img/ikenfell_thumb.png">
    </a>
    <a href="https://chevyray.itch.io/" target="_blank" title="175 Pixel Font Megapack">
        <img src="/img/fonts_thumb.png">
    </a>
    <a href="https://chevyray.itch.io/noise1" target="_blank" title="NOISE 1">
        <img src="/img/noise1_thumb.png">
    </a>
    <div class="more-posts">
    <a class="next" href="/blog">More Posts <i class="ri-arrow-right-line"></i></a> 
</div>
</div>


{{ section.content | safe }}

<h1 class="latest">Latest Posts</h1>

{%- set section = get_section(path="blog/_index.md") -%}
{%- for page in section.pages -%}
    {%- if loop.index > 5 -%}
        {%- break -%}
    {%- endif -%}
    {{ macros::post_preview(page = page) }}
{%- endfor -%}

<div class="more-posts">
    <a class="next" href="/blog">More Posts <i class="ri-arrow-right-line"></i></a> 
</div>

{%- endblock content -%}